<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear una nueva nota</title>
</head>
<body>
    <h1>Crear una nueva nota</h1>
    <form method="POST">
        <label for="title">Título</label>
        <input type="text" id="title" name="title" value="{{ nota.title }}">
        <br>
        <label for="content">Contenido</label>
        <input type="text" id="content" name="content" value="{{ nota.content }}">
        <br>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>
