<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Inicio</title>
</head>
<body>
    <h1>Bienvenido a Flask Notes</h1>
    <ul>
        {% for nota in notas %}
            <li>ID: {{ nota.id }}</li>
            <li>Title: {{ nota.title }}</li>
            <li>Content: {{ nota.content }}</li>
            <a href="{{ url_for('edit_note', id=nota.id) }}">🧠 Editar</a>
            <br>
            {% else %}
            <li>No hay notas</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('create_note') }}">Agrear nota</a>
</body>
</html>